<table class="table is-fullwidth mt-2" id="transactiontable">
    <thead>
    <tr>
        <th style="max-width: 5rem">Zeitpunkt</th>
        <th>Name</th>
        <th style="text-align: right">Betrag</th>
    </tr>
    </thead>
    <tbody>
    {#for transaction in transactions}
        <tr class="{#if transaction.amount < 0}has-background-danger-light{#else}has-background-success-light{/if}">
            <td style="max-width: 5rem" class="has-text-black">{time:format(transaction.timestamp,'dd. MMM uuuu HH:mm')}</td>
            <td class="has-text-black">{transaction.playerName}</td>
            <td style="text-align: right" class="has-text-black">{transaction.amount}</td>
        </tr>
    {/for}
    </tbody>
</table>